.category-container {
    margin-bottom: 20px;
}
.category {
    user-select: none;
    margin-bottom: 10px;
}
.item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
.item:hover {
    cursor: pointer;
    background-color: #ebeaea;
}
.item:active {
    transform: scale(0.98); 
}
.item {
    user-select: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

@media (max-width: 1080px) {
    .item-container {
        grid-template-columns: 1fr;
    }
}

// Loading animation
.loader {
    // ??? css magic to make it in the center idk
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;


    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #EA4C89; /* pink */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// Popup
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    animation: zoom-in 0.2s ease
}
@keyframes zoom-in {
    0% {
        transform:translate(-50%, -50%) scale(0.3, 0.3);
    }
    100% {
        transform:translate(-50%, -50%) scale(1, 1);
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    animation: fadeIn 0.4s ease;
}
@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}
.x {
    position:absolute;
    top:-10px;
    right:-10px;
    height: 30px;
    width: 30px;
    background-color: white;
    font-size: 12px;
    font-weight:900;
    border: 2px solid #494949;
    border-radius: 100%;
}
.x:hover {
    background-color: #eee
}
.twoCols {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 1080px) {
    .twoCols {
        font-size: 10px;
    }

    .twoCols input {
        width: 10px;
        height: 10px;
    }
}

.image-container {
    text-align: center;
    max-width: 100%
}
.image {
    max-width: 80%;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin: 10px 0px;
    border-radius: 5px;
}
.quantity-control {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantity-control button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: 1px solid #cccccc;
    background-color: white;
    cursor: pointer;
}
.quantity-control span {
    margin: 0 14px;
    font-size: 16px;
}
.quantity-control button:hover {
    background-color: #eee;
}
.quantity-control button:active {
    transform: scale(0.97)
}

.qcsubmit-span {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.submitButton {
    padding: 10px 20px;
    background: linear-gradient(to right, #494949, #494949, #EA4C89, #EA4C89);
    background-position:0% 0%;
    background-size: 300% 100%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: slideOut 1s ease;
    width: 60%;
    justify-self: end
    
}
.additionalInstructions {
    margin-top: 0.5rem;
}
p {
    margin-bottom: 0.5rem
}
@media (max-width: 1080px) {
    .submitButton {
        width: 90%;
        padding: 10px 10px;
    }
    .qcsubmit-span {
        grid-template-columns: 1fr 1fr;
    }
    .image {
        max-width: 100%
    }
}
button:hover {
    animation: slideIn 0.5s ease;
    background-position: 100% 0%;
}
@keyframes slideIn {
    0%{background-position:0% 0%}
    100%{background-position:100% 0%}
}

@keyframes slideOut {
    0%{background-position:100% 0%}
    100%{background-position:0% 0%}
}

button:active {
    transform: scale(0.97)
}

// searchbar
.searchbar-container {
    width: auto;
    display: block;
    flex: 1;
    margin-bottom: 10px;
}
.searchbar {
    height: 40px;
    font-size: 18px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    filter: grayscale(100%);
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    background-position: left center;
    padding-left: 45px;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 7px;
    box-shadow: none;
} 

// For special buttons
.options {
    margin: 0.5rem;
}

input {
    margin: 0.4rem;
}
input[type='radio'] {
    accent-color: #ec008c;
}

.error {
    color: red;
    margin: 0.5rem;
}